---
layout: page
title: Projects
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <script src="phaser.min.js"></script>
</head>
<body>
    <section class="list">
        {% for post in site.posts %}
            {% if post.projects %}
                <div class="item {% if post.star %}star{% endif %}">
                    <h3>{{ post.title }}</h3>
                    <div id="catch-the-cat"></div>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    <script src="catch-the-cat.js"></script>
    <script>
        window.addEventListener('load', function() {
            // 在页面完全加载后实例化 Phaser 小游戏
            window.game = new CatchTheCatGame({
                // 游戏的配置选项
                w: 11,
                h: 11,
                r: 20,
                backgroundColor: 0xeeeeee,
                parent: 'catch-the-cat',
                statusBarAlign: 'center',
                credit: 'Your name...'
            });
        });
    </script>
</body>
</html>
